<div class="container mt-5">
  <div class="row justify-content-center align-items-center text-center">
    <form class="" action="/records" method="POST" onsubmit="return submitCheck()">
      <input required type="text" placeholder="名稱" name="name" class="form-control input-area">
      <input required type="text" placeholder="日期" name="date" class="form-control input-area"
        onfocus="(this.type='date')" onblur="(this.type='text')">
      <div class="form-group">
        <select required name="category" class="form-control">
          <option value="">類別</option>
          <option value="house">家居物業</option>
          <option value="transport">交通出行</option>
          <option value="entertainment">休閒娛樂</option>
          <option value="food">餐飲食品</option>
          <option value="others">其他</option>
        </select>
      </div>
      <input required type="text" placeholder="$金額" name="amount" class="form-control input-area">
      <button type="submit" class="btn btn-outline-primary mt-3 mb-5">新增支出</button>
    </form>
  </div>
</div>