<div class="container h-100">
  <div class="row h-100 my-auto justify-content-center align-items-center text-center">
    <form class="col-4" action="/records/create" method="POST" onsubmit="return editCheckAgain()">
      <input required type="text" placeholder="名稱" name="name" class="form-control input-area">
      <input type="text" placeholder="日期" name="date" class="form-control input-area" onfocus="(this.type='date')"
        onblur="(this.type='text')">
      <input type="text" placeholder="類別" name="category" class="form-control input-area">
      <input type="text" placeholder="金額" name="image" class="form-control input-area">
      <button type="submit" class="btn btn-outline-danger mt-3 mb-5">Create</button>
    </form>
  </div>
</div>